
.p1{
    display: flex;
    flex-direction: column;
}

.p1 .line1{
    display: flex;
height: 66px;
width: 100%;

justify-content: space-around;
align-items: center;
}
.p1 .line1 .rounds1{
    height: 40px;
width: 23%;
background-color: orange;
border-radius: 50%;
}
.p1 .line1 .rounds2{
    height: 40px;
width: 23%;
background-color: orange;
border-radius: 50%;
}
.p1 .line1 .rounds3{
    justify-content:first baseline;
    float: left;
}

.p1 .line2{
    display: flex;
    height: 66px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    }
.p1 .line2 .rounds1{
        height: 40px;
    width: 23%;
    background-color: orange;
    border-radius: 50%;
    
    }
.p1 .line2 .rounds2{
        height: 40px;
    width: 23%;
    background-color: orange;
    border-radius: 50%;
    }

    .p1 .line3{
        display: flex;
        height: 66px;
        width: 100%;
        
        justify-content: space-around;
        align-items: center;
        }
    .p1 .line3 .rounds1{
            height: 40px;
        width: 23%;
        background-color: orange;
        border-radius: 50%;
        }
    .p1 .line3 .rounds2{
         height: 40px;
        width: 23%;
        background-color: orange;
        border-radius: 50%;
        }